# Visual Studio
.vscode/
*.suo
*.user
*.ncb
*.aps
*.pdb
*.obj
*.exe
*.dll
*.lib
*.ilk
*.idb
*.tlog
*.log
*.bak
*.sbr
*.bsc
*.res
*.pch
*.ipch
*.sdf
*.cache
*.VC.db
*.VC.VC.opendb
*.vcxproj.filters
*.vcxproj.user
*.sln.docstates

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
*.log
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
*.sage.py
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/